__pycache__
.venv/
src/MA_Scraper/Datasets/
src/MA_Scraper/Config.json
src/MA_Scraper/Development/
src/MA_Scraper/migrations/
src/MA_Scraper/run.py
src/MA_Scraper/app/schemas/
src/MA_Scraper/app/static/images/
src/MA_Scraper/browser.json
*egg-info/
*.toml
YTMAPI/