__pycache__
.venv/
MA_Scraper/Datasets/
MA_Scraper/Config.json
MA_Scraper/Development/
MA_Scraper/migrations/
MA_Scraper/run.py
MA_Scraper/app/schemas/
MA_Scraper/app/static/images/
MA_Scraper/browser.json
*egg-info/
*.toml
YTMAPI/