# Scraping and parsing
beautifulsoup4==4.12.3
pandas==2.2.3
Requests==2.32.3
aiohttp==3.11.11

# Website & Database
Flask==3.0.3
Flask_Login==0.6.3
SQLAlchemy==2.0.35
psycopg2==2.9.10
faiss_cpu==1.8.0.post1
yt-dlp==2024.12.23
nltk==3.9.1
rapidfuzz==3.11.0
# Optional official API use
#google-api-python-client==2.158.0