body {
    background-color: white !important;
    color: #343a40;
    overflow-x: hidden;
}

header.navbar {
    max-height: 100px;
    height: auto;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #e9ecef !important;
}

header.navbar .navbar-brand img {
    max-height: 80px;
    object-fit: contain;
}

header.navbar .form-inline {
    flex-grow: 1;
    justify-content: right;
}

header.navbar .form-inline input {
    max-width: 400px;
}

header.navbar .form-inline button {
    padding: 10px 15px;
    color: black;
    border-color: black;
    border-width: 2px;
}

#sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    width: 200px;
    background-color: #e9ecef !important;
}

.navbar-nav {
    width: 100%;
    position: absolute;
    top: 0;
    padding-left: 40px;
    padding-top:50px;
}

.nav-item {
    margin: 5px;
    display: fixed;
    justify-content: flex-start;
}

.alert {
    margin-bottom: 20px;
}

#discographyFilter {
    width: 100%;
    height: auto;
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background-color: #ffffff;
}

#discographyFilter option {
    padding: 0.5rem;
}

#discographyFilter option:hover {
    background-color: #e9ecef;
}

/* Add to your CSS file */
#notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

#notification.show {
    opacity: 1;
    visibility: visible;
}

.card {
    border-radius: 5px;
    border: none;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
}

.card-body {
    display: flex;
    padding: 0;
}

.card-body-left,
.card-body-right {
    flex: 1;
}

.card-text {
    margin: 0.5rem 0;
    line-height: 1.5;
}

.container {
    padding: 0;
}