body {
    background-color: white !important; /* Light background color */
    color: #343a40; /* Dark text color */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

header.navbar {
    max-height: 100px;
    height: auto;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #e9ecef !important;
}

/* Style the logo */
header.navbar .navbar-brand img {
    max-height: 80px;
    object-fit: contain;
}

/* Style the search box */
header.navbar .form-inline {
    flex-grow: 1;
    justify-content: right;
}

header.navbar .form-inline input {
    max-width: 400px;
}

header.navbar .form-inline button {
    padding: 10px 15px;
    color: black;
    border-color: black;
    border-width: 2px;
}

#sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    width: 200px;
    background-color: #e9ecef !important;
}

.navbar-nav {
    width: 100%; /* Full width for the nav links */
    position: absolute; /* Positioning to keep it fixed within the sidebar */
    top: 0; /* Align to the top */
    padding-left: 40px;
    padding-top:50px;
}

.nav-item {
    margin: 5px;
    display: fixed; /* Flex display for nav items */
    justify-content: flex-start; /* Align items to the left */
}

.alert {
    margin-bottom: 20px; /* Space below alerts */
}

/* Add this CSS to your stylesheet */
#discographyFilter {
    width: 100%; /* Full width */
    height: auto; /* Auto height */
    padding: 0.5rem; /* Padding for spacing */
    border: 1px solid #ced4da; /* Border color */
    border-radius: 0.25rem; /* Rounded corners */
    background-color: #ffffff; /* White background */
}

/* Style for the options */
#discographyFilter option {
    padding: 0.5rem; /* Padding for options */
}

/* Hover effect for options */
#discographyFilter option:hover {
    background-color: #e9ecef; /* Light grey background on hover */
}

/* Add to your CSS file */
#notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

#notification.show {
    opacity: 1;
    visibility: visible;
}
