<section class="index-row featured-bands">
    <h2>Featured Bands</h2>
    <div class="scrollable-container band-cards">
    </div>
</section>

<section class="index-row band-recommendations">
    <h2>Recommendations For You</h2>
    <div class="scrollable-container recommendation-cards">
    </div>
</section>

<section class="index-row reminders">
    <h2>Reminders</h2>
    <div class="scrollable-container reminder-cards">
    </div>
</section>

<section class="index-row recommended_albums">
    <h2>Albums</h2>
    <div class="scrollable-container album-cards">
    </div>
</section>