<nav class="navbar navbar-light bg-light flex-column" id="sidebar" style="min-width: 200px;">
    <ul class="navbar-nav flex-column">
        {% if not current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link ajax-link" href="{{ url_for('auth.login') }}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ajax-link" href="{{ url_for('auth.register') }}">Register</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link ajax-link" href="{{ url_for('main.my_bands') }}">My Bands</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ajax-link" href="{{ url_for('auth.profile') }}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
            </li>
        {% endif %}
    </ul>
</nav>